main{
  padding-top: 2rem;
}
.testimonial{
  margin-bottom: 3rem;
}
.testimonial__image-container{
  width: 100%;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
}
.testimonial__image-container img{
  width: 100%;
  vertical-align: bottom;
}
.testimonial__info{
  padding: 2rem;
}
#customer-1 .testimonial__info {
  text-align: right;
}

.testimonial__name {
  margin: 3px;
  color: #ff5454;
}

.testimonial__subtitle {
  margin: 0; 
  color: #ccc;
  
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 3px;
}

@media(min-width:40rem){
  
  .testimonial{
    display: flex;
    justify-content:space-around;
    align-items:center;
  }
  
  .testimonial__image-container{
    max-width: 450px;
  } 
  .testimonial__info{
    width: 20rem;
    }
    
  }
  